body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: aliceblue;
    margin: 1px;
    padding: 1px;

}
header>div{width: 18%;height:50px;background: red; display:inline-block}
header>h1{width: 81%;height:50px;background: blue; display:inline-block}
section>div{width: 31%;height: 54px; background: gold; display: inline-block; }
section>nav{width: 31%;height: 54px; background: green; display: inline-block; border: gray 1px; padding: 1px:}
article{width: 100%; height: 54px;border: 2px; background: gray; display: inline-block;}
@media screen and (min-width: 360, max-width:855px){header>div,header>h1{width: 100%}}